<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD com.isitem.recommendsystem.mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="casia.isiteam.recommendsystem.mapper.NewsLogMapper">

    <select id="findAllHotNews" resultType="casia.isiteam.recommendsystem.model.NewsLog">
        SELECT news_id, COUNT(*) AS visitCount
        FROM newslogs
        WHERE view_time > #{startDate}
        GROUP BY news_id
        ORDER BY visitCount DESC
    </select>

    <select id="findBrowsedNewsByUser" resultType="casia.isiteam.recommendsystem.model.NewsLog">
        SELECT news_id
        FROM newslogs
        WHERE user_id = ${userID}
    </select>
</mapper>