<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD com.isitem.recommendsystem.mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="casia.isiteam.recommendsystem.mapper.NewsMapper">

    <select id="findNewsByIDs" resultType="casia.isiteam.recommendsystem.model.News">
        SELECT id, title, content, module_id
        FROM news
        <where>
            <foreach collection="newsIDs" open="id in (" close=")" item="id" separator=",">
                ${id}
            </foreach>
        </where>
    </select>

    <select id="findNewsByPublishTime" resultType="casia.isiteam.recommendsystem.model.News">
        SELECT id, title, content, module_id
        FROM news
        WHERE news_time > #{startDate}
    </select>

    <select id="findGroupNewsByPublishTime" resultType="casia.isiteam.recommendsystem.model.News">
        SELECT n1.* FROM news n1
        WHERE EXISTS (SELECT COUNT(*) + 1 FROM news n2 WHERE n2.news_time > #{startDate} AND n2.module_id = n1.module_id AND n2.id > n1.id HAVING (COUNT(*) + 1) &lt;= 5)
        AND n1.news_time > #{startDate}
        ORDER BY n1.module_id
    </select>
</mapper>