<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD com.isitem.recommendsystem.mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="casia.isiteam.recommendsystem.mapper.RecommendationMapper">

    <select id="findTodayRecommendationCountByUser" resultType="long">
        SELECT COUNT(*)
        FROM recommendations
        WHERE derive_time > #{today} and user_id = ${userID}
    </select>

    <select id="findRecommendedNewsByUser" resultType="casia.isiteam.recommendsystem.model.Recommendation">
        SELECT news_id
        FROM recommendations
        WHERE user_id = ${userID} and derive_time > #{date}
    </select>

    <insert id="saveRecommendation" parameterType="casia.isiteam.recommendsystem.model.Recommendation">
        INSERT INTO recommendations (user_id, news_id, derive_algorithm)
        VALUES (${user_id}, ${news_id}, ${derive_algorithm})
    </insert>

</mapper>