<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD com.isitem.recommendsystem.mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="casia.isiteam.recommendsystem.mapper.UserMapper">

    <select id="findAllUsers" resultType="casia.isiteam.recommendsystem.model.User">
        SELECT DISTINCT *
        FROM `users`
    </select>

    <select id="findPrefListByUserIDs" resultType="casia.isiteam.recommendsystem.model.User">
        SELECT id, pref_list
        FROM `users`
        <where>
            <foreach collection="userIDs" open="id in (" close=")" item="id" separator=",">
                ${id}
            </foreach>
        </where>
    </select>

    <update id="updatePrefListByUserID">
        UPDATE `users`
        SET pref_list = #{prefList}
        WHERE id = ${userID}
    </update>
</mapper>