<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD com.isitem.recommendsystem.mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="casia.isiteam.recommendsystem.mapper.UserMapper">

    <select id="findAllUsers" resultType="casia.isiteam.recommendsystem.model.User">
        SELECT DISTINCT *
        FROM app_user
    </select>

    <select id="findPrefListByUserIDsAndInfoType" resultType="casia.isiteam.recommendsystem.model.User">
        <choose>
            <when test="infoType == 1">
                SELECT id, pref_list
            </when>
            <when test="infoType == 2">
                SELECT id, wiki_pref_list
            </when>
            <when test="infoType == 3">
                SELECT id, subject_pref_list
            </when>
            <when test="infoType == 4">
                SELECT id, periodical_pref_list
            </when>
            <when test="infoType == 5">
                SELECT id, report_pref_list
            </when>
        </choose>
        FROM app_user
        <where>
            <foreach collection="userIDs" open="id in (" close=")" item="id" separator=",">
                ${id}
            </foreach>
        </where>
    </select>

    <update id="updatePrefListByUserIDAndInfoType">
        UPDATE app_user
        <choose>
            <when test="infoType == 1">
                SET pref_list = #{prefList}
            </when>
            <when test="infoType == 2">
                SET wiki_pref_list = #{prefList}
            </when>
            <when test="infoType == 3">
                SET subject_pref_list = #{prefList}
            </when>
            <when test="infoType == 4">
                SET periodical_pref_list = #{prefList}
            </when>
            <when test="infoType == 5">
                SET report_pref_list = #{prefList}
            </when>
        </choose>
        WHERE id = ${userID}
    </update>

</mapper>