<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD com.isitem.recommendsystem.mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="casia.isiteam.recommendsystem.mapper.UserMapper">

    <select id="findAllUsers" resultType="casia.isiteam.recommendsystem.model.User">
        SELECT DISTINCT *
        FROM app_user
    </select>

    <select id="findPrefListByUserIDs" resultType="casia.isiteam.recommendsystem.model.User">
        SELECT id, pref_list
        FROM app_user
        <where>
            <foreach collection="userIDs" open="id in (" close=")" item="id" separator=",">
                ${id}
            </foreach>
        </where>
    </select>

    <update id="updatePrefListByUserID">
        UPDATE app_user
        SET pref_list = #{prefList}
        WHERE id = ${userID}
    </update>

    <select id="findAllModuleName" resultType="java.lang.String">
        SELECT classifyName
        FROM info_ref_calssify_type
        WHERE classifyParentId != -1 and info_type = 1
    </select>

</mapper>