<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD com.isitem.recommendsystem.mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="casia.isiteam.recommendsystem.mapper.ItemMapper">

    <select id="findRandomItemsByInfoType" resultType="casia.isiteam.recommendsystem.model.Item">
        <choose>
            <when test="infoType == 1">
                SELECT id FROM toutiao_info_ref
            </when>
            <when test="infoType == 2">
                SELECT wiki_info_id FROM wiki_info_ref
            </when>
            <when test="infoType == 3">
                SELECT auto_id FROM subject_info
            </when>
            <when test="infoType == 4">
                SELECT id FROM periodical
            </when>
            <when test="infoType == 5">
                SELECT id FROM reportinfo
            </when>
        </choose>
        ORDER BY RAND()
        LIMIT ${recNum}
    </select>

    <select id="findItemsByIDsAndInfoType" resultType="casia.isiteam.recommendsystem.model.Item">
        <choose>
            <when test="infoType == 1">
                SELECT id, infoTitle
                FROM toutiao_info_ref
                <where>
                    <foreach collection="itemIDs" open="id in (" close=")" item="id" separator=",">
                        ${id}
                    </foreach>
                </where>
            </when>
            <when test="infoType == 2">
                SELECT wiki_info_id, `name`
                FROM wiki_info_ref
                <where>
                    <foreach collection="itemIDs" open="wiki_info_id in (" close=")" item="id" separator=",">
                        ${id}
                    </foreach>
                </where>
            </when>
            <when test="infoType == 3">
                SELECT auto_id, subjectName
                FROM subject_info
                <where>
                    <foreach collection="itemIDs" open="auto_id in (" close=")" item="id" separator=",">
                        ${id}
                    </foreach>
                </where>
            </when>
            <when test="infoType == 4">
                SELECT id, perName
                FROM periodical
                <where>
                    <foreach collection="itemIDs" open="id in (" close=")" item="id" separator=",">
                        ${id}
                    </foreach>
                </where>
            </when>
            <when test="infoType == 5">
                SELECT id, reportName
                FROM reportinfo
                <where>
                    <foreach collection="itemIDs" open="id in (" close=")" item="id" separator=",">
                        ${id}
                    </foreach>
                </where>
            </when>
        </choose>
    </select>

    <select id="findItemsByInfoType" resultType="casia.isiteam.recommendsystem.model.Item">
        <choose>
            <when test="infoType == 1">
                SELECT id, infoTitle
                FROM toutiao_info_ref
            </when>
            <when test="infoType == 2">
                SELECT wiki_info_id, `name`
                FROM wiki_info_ref
            </when>
            <when test="infoType == 3">
                SELECT auto_id, subjectName
                FROM subject_info
            </when>
            <when test="infoType == 4">
                SELECT id, perName
                FROM periodical
            </when>
            <when test="infoType == 5">
                SELECT id, reportName
                FROM reportinfo
            </when>
        </choose>
    </select>

    <select id="findItemsByDateAndInfoType" resultType="casia.isiteam.recommendsystem.model.Item">
        <choose>
            <when test="infoType == 1">
                SELECT id, infoTitle
                FROM toutiao_info_ref
                WHERE publishTime &gt; #{startDate}
            </when>
            <when test="infoType == 2">
                SELECT wiki_info_id, `name`
                FROM wiki_info_ref
                WHERE publishTime &gt; #{startDate}
            </when>
            <when test="infoType == 3">
                SELECT auto_id, subjectName
                FROM subject_info
                WHERE insert_time &gt; #{startDate}
            </when>
            <when test="infoType == 4">
                SELECT id, perName
                FROM periodical
                WHERE insert_time &gt; #{startDate}
            </when>
            <when test="infoType == 5">
                SELECT id, reportName
                FROM reportinfo
                WHERE insert_time &gt; #{startDate}
            </when>
        </choose>
    </select>
</mapper>