<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    
    <settings>
        <!--    日志   -->
<!--        <setting name="logImpl" value="STDOUT_LOGGING"/>-->
        <setting name="logImpl" value="LOG4J"/>
        <!--    开启延迟加载    -->
<!--        <setting name="lazyLoadingEnabled" value="true"/>-->
        <!--    开启二级缓存    -->
<!--        <setting name="cacheEnabled" value="true"/>-->
    </settings>
    
    <!-- 配置MyBatis运⾏环境 -->
    <environments default="development">
        <environment id="development">
            <!-- 配置JDBC事务管理理 -->
            <transactionManager type="JDBC"></transactionManager>
            <!-- POOLED配置JDBC数据源连接池 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"></property>
                <property name="url" value="jdbc:mysql://192.168.10.231:3307/zbzs?characterEncoding=UTF-8"></property>
                <property name="username" value="bj"></property>
                <property name="password" value="bj2016"></property>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <package name="casia.isiteam.recommendsystem.mapper"/>
    </mappers>

</configuration>